.container {
    width: 100%;
    height: 100vh;

}

.modalMain {
    width: 40%;
    height: 30vh;
    background-color: #292929;
    margin: auto;
    position: fixed;
    display: flex;
    padding: 5vh 2vh 0 5vh;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.modalMain h5 {
    position: absolute;
    top: -3vh;
    right: 0.5vh;
    width: 100%;
    text-align: center;
    font-size: small;
    font-family: monospace;
}



.projectName {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 3vh;
    max-width: 50%;
    
}



.projectName h4 {
    font-size: 5vh;
}



.projectAbout {
    width: 45%;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
}


.projectAbout  ul  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.modalMain a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 0;
    font-family: monospace;
}




#BG {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    transition: 0.6s;
    cursor: pointer;
    z-index: 10001;
    background-color: rgba(0, 0, 0, 0.5);
}
