.container {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-bottom: 7vh;
    padding: 20vh 0;
    padding-top: 10vh;
}


.contactUs {
    display: flex;
    width: 80%;
    padding: 1vh;
    background-color: white;
    border-radius: 5vh;
    align-items: center;
    height: 25vh;
    top: 10vh;
}


.contactUsForm {
    width: 35%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
}


.contactUsForm input:first-child {

    border: 1px solid black;
    border-right: none;
    border-radius: 15px 0 0 15px;
    padding: 0 2vh;
    height: 100%;
    font-weight: 400;
    color: rgb(117, 117, 117);
    width: 60%;
    outline: none;
}

.contactUsForm input:last-child {
    border-radius: 0 15px 15px 0;
    border: none;
    width: 40%;
    height: 103%;
    background: linear-gradient(to right, rgb(75, 14, 67), rgb(107, 35, 175));

}



.text h5 {
    color: black;
    font-size: 3vh;
    font-weight: 100;
    width: 50%;
}


.text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 767px) {
    .contactUs {
        height: 10vh;
        width: 90%;
        border-radius: 2vh;
        margin: auto;
    }

    .container {
        margin: auto;
    }

    .text h5 {
        color: black;
        font-size: 1.6vh;
        font-weight: 100;
        width: 90%;
    }


    .contactUsForm {
        width: 50%;
        border-radius: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7vh;
        padding: 1vh;
    }


    .contactUsForm input:first-child {

        border-radius: 1vh 0 0 1vh;
    }
    
    .contactUsForm input:last-child {
        border-radius: 0 1vh 1vh 0;
    }
    
}